
body {
	padding:40px;
}

.navbar-brand {
	padding:15px;
}

.navbar-brand img {
	width:155px;
}

label {
	text-transform: uppercase;
}

.btns-right {
	padding-right:20px;
}

.form-wrap {
	max-width:900px;
	background-color:rgb(240,240,240);
	border-radius:5px;
	
}
.form-wrap .row {
	padding:5px 0px;
}
.form-wrap .modal-dialog {
	width:unset;
	margin:0px auto;
}

.form-wrap .modal-content {
	box-shadow:unset;
	background-color:transparent;
}

.form-wrap .alert,
.modal .alert {display:none;}

.group-id-cnt,
.barcode-id-cnt {
	display:none;
}

.file-drawer {
	text-align:left;
}

.file-drawer .fa {
	font-size:24px;
	display:inline-block;
	vertical-align:middle;
	margin-right:10px;
}
.file-drawer .file-name {
	display:inline-block;
	vertical-align:middle;
	font-size:12px;
}

.file-drawer .file-icon {
	display:inline-block;
	vertical-align:middle;
	text-align:center;
	margin:5px 5px;
	border-radius:5px;
	background-color:#ccc;
	padding:10px;
}

.file-drawer .file-icon:hover {
	background-color:#c5c5c5;
}

#file-wrap {

	padding:20px 10px 40px;
}

.loader {
	width:100%;
	display:none;
	text-align:center;
}